# constants exposed by package
export( model.strain_multiplier )
export( example.data.case_cog_summer_alpha )

# required packages
import( rstan )
import( Rcpp )
import( rstantools )
import( StanHeaders )
import( data.table )
import( plotly)
import( BH )

# dynamic link for Rcpp
useDynLib( VariantREstimate, .registration = TRUE )

